@media screen and (max-width:576px) {
    html, body {
        overflow-x: hidden;
        }
    
    
    .banner-left, .banner-right{ 
        width:100%;
        height: auto;
    }
    
    .banner-right{
        padding: 0%;
    }
    .banner-img{
        width:50%;
        height: 50%;
        min-width: 300px;
    }
    .banner-left p{
        margin-top: 20px;
    }


    .banner-left-p1{  
        bottom:17%;
        left:-5%;
    }
    .banner-left-p2{
        top: 14%;
        left: 60%;
    }


    .btn-primary{
        font-size:12px;
        border-radius: 30px;
        padding: 10px 30px;}

    .font-small{
        font-size:14px;
    }
    .miama-font{
        font-size: 2.5rem;
    }
    .banner{
        align-items: flex-start;
        gap: 50px;
    }
    .banner-left h1{
        font-size: 6vw;
    }
    
    .nav-menu{
        display:none;
    }
    #hamburger-icon{
        display: block;
    }
    .banner{
        flex-direction: column;
    }



}
