@media screen and (max-width:576px) {
    html, body {
        overflow-x: hidden;
    }
    .banner, .run{
        flex-direction: column;
    }
    .run-img-container2{
        display:block;
        width: 100%;
        height: 250px;
    }
    .run-img-container1{
        display: none;
    }
    .run{
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-top: 50px;
    }

    .run-content{
        width: 100%;
        height: auto;
        text-align: left;
    }
    
    .run-content h1{
        font-size: 28px;
    }
        

    .habit-content-container{
        grid-template-columns: repeat(1,1fr);
    }

    .habit-tittle-container h1{
        font-size: 30px;
        margin-top: 20px;
    }
    .banner-left, .banner-right{ 
        width:100%;
        height: auto;
    }
    
    .banner-right{
        padding: 0%;
    }
    .banner-img{
        width:50%;
        height: 50%;
        min-width: 300px;
    }
    .banner-left p{
        margin-top: 20px;
        text-align: left;
    }


    .banner-left-p1{  
        bottom:17%;
        left:-5%;
    }
    .banner-left-p2{
        top: 14%;
        left: 60%;
    }


    .btn-primary{
        font-size:12px;
        border-radius: 30px;
        padding: 10px 30px;}

    .font-small{
        font-size:14px;
    }
    .miama-font{
        font-size: 2.5rem;
    }
    .banner{
        align-items: flex-start;
        gap: 50px;
    }
    .banner-left h1{
        font-size: 8vw;
    }
    
    .nav-menu{
        display:none;
    }
    #hamburger-icon{
        display: block;
    }

    .training-tittle h1{
        font-size: 28px;
        margin-top:50px;
    }

    .bmi-tittle h1{
        font-size: 28px;
        margin-top: 40px;
        text-align: left;
    }

    .bmi-tittle p{
        margin-bottom: 40px;
        text-align: left;
    }

    .bmi-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .bmi-chart{
        width: 100%;
    }

    .bmi-chart h3{    
        margin-top: 40px;
        font-size: 18px;
        margin-bottom: 30px; 
    }


    .bmi-calculator{
        width: 100%;
        margin-right:10%;
        margin-left: 10%;
        padding: 0 20px;
    }
    .bmi-calculator h3{
        font-size: 18px;
        text-align:left;
    }
    
    .bmi-calculator input{
        padding-right: 0px;
}

.team-tittle h1{
    font-size: 28px;
    margin-top: 50px;
}


.team-members{
    width: 90%;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(6,1fr);
}

}
