/* font style inter */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


@import url('https://fonts.cdnfonts.com/css/miama');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"slnt" 0;
}

.miama-font{
    font-family: 'Miama', sans-serif;
    font-weight:400;
    font-size:8.5rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.display-flex{
    display:flex;
}
.btn-primary{
    border-radius:  42px;
    border: none;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;

}
.container{
    width:80%;
    max-width:1044px;
    margin:0 auto;
}

.font-small{
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 400;
}

/* header section */

.header-container{
    border: 1px black solid;
    width:100%;
    height: auto;
    background-image: linear-gradient(to bottom,#141414, #222222, #141414);    
}

body{
    background-color: rgb(0,0,0);
}

/* navbar section */
.navbar{
    width: 80%;
    max-width: 1044px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
}

.navbar h3{
    color: rgb(230, 83, 60);
    font-size: 2rem;
    font-weight: 800;
}

.nav-menu{
    justify-content: center;
    align-items: center;
    gap: 40px;
}



.nav-menu>a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 400;
}

#hamburger-icon{
    display: none;
}


/* banner section */

.banner{
margin-top:50px;
justify-content: space-between;
align-items: center;
}

.banner-left{ 
    width:50%;
    height: auto;
}
.banner-left h1{
    color: rgb(255, 255, 255);
    font-size: 4.5rem;
    font-weight: 800;
    position: relative;
}

.banner-left p{
    margin-bottom:40px;
    margin-top: 40px;
    text-align: left;
}

.banner-button{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1rem;
}


/* banner tittle position */

.h1-txt1{
    position:absolute;
    bottom: 75%;
}

.h1-txt3{
    position:absolute;
    top: 60%;
}

.banner-right{
    width:50%;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-left: 180px;
}
.banner-img{
    width: 100%;
    height: auto;
}


.banner-left-p1{    
    max-width: 193px;
    height: 98px;
    box-sizing: border-box;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    bottom:12%;
    left:15%;
    position: absolute;
    padding:10px 20px;
    text-align: center;
    opacity:0.9;
}

.banner-left-p2{
    max-width: 193px;
    height: 98px;
    box-sizing: border-box;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    top: 20%;
    left: 80%;
    position: absolute;
    padding: 10px 20px;
    text-align: center;
    }


.font-large-banner{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
}

.dot{
    height: 25px;
    width: 25px;
    background-color:rgb(230, 83, 60);
    border-radius: 50%;
    display: inline-block;
}


/* habit section */


.habit-tittle-container h1{
    color: rgb(255, 255, 255);
    font-size: 4.5rem;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 20px;
}

.habit-tittle-container h1,p{
    text-align: center;
}

.habit-tittle-container p{
    margin-bottom: 40px;
}


.habit-content-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    
}

.habit-img{
    width: 100%;
    height: auto;
    border-radius:50%;
    border:2px rgb(109, 103, 103) solid;
}
.habit-content-container h5{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.habit-content-container p{
    text-align: center;
}


/* run section */

.run{
    width: 100%;
    height: auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    justify-content: space-between;
    margin-top: 100px;
    padding: 40px 50px;
    gap: 100px;

}

.run-content{
    width: 50%;
    height: auto;
    text-align: left;
}

.run-content h1{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.run-content p{
    margin-bottom: 50px;
    text-align: left;
    text-wrap:balance;
}

.run-img-container1{
    width:50%;
    height: auto;
    max-width:333px;
    max-height:368px;
    border-radius: 18px;
    background-image: url(../images/run2.jpg);
    background-position-y:-25px;
    background-size:cover;
    background-repeat: no-repeat;
}
.run-img-container2{
    display: none;
    width:100%;
    height:auto;
    border-radius:18px;
    background-image: url(../images/run.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}



/* training section */

.training-tittle h1{
    margin-top:100px;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    margin-bottom:20px ;
}
.training-tittle p{
    text-align: left;
    margin-bottom: 40px;
}

.exercise-container{
    width: 100%;
    height: 100%;
}



.exercise-container1{
    width:100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.exercise-container2{
    width:100%;
    height: 100%;
    display:grid;
    grid-template-columns: repeat(8,1fr);
}


.exercise2{
    grid-column: span 2;
}
.exercise4{
    grid-column: span 3;
}
.exercise5{
    grid-column: span 2;
}
.exercise6{
    grid-column: span 3;
}

.exercise1 img,
.exercise2 img,
.exercise3 img,
.exercise4 img,
.exercise5 img,
.exercise6 img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}



/* bmi calculator section */



.bmi-tittle h1{   
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
}
.bmi-tittle p{
    margin-bottom: 80px;
    text-align: center;
}

.bmi-content{
    width: 100%;
    height:100%;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.bmi-chart{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bmi-chart h3{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900; 
    margin-bottom: 50px;             
}


.bmi-chart table,th,tr, td{
    border:1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    padding: 20px;
    border-collapse: collapse;
}

.bmi-chart th{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
}


.bmi-calculator{
    width: 50%;
    margin-right: 10%;
}

.bmi-calculator h3{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900; 
    margin-bottom: 30px;
    margin-top: 40px;             
}

.bmi-calculator p{
text-align: left;
margin-bottom: 40px;
}


.bmi-calculator input,select{
    display: block;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 40px 20px 20px;
    border: none;
}


.bmi-calculator select{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.1);
}

.input-row1{
    gap: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.input-row2 option{
    background-color: #141414;
}

.input-row2{
    gap: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#select-activity{
    display: grid;
    grid-template-columns: repeat(3);
    margin-bottom: 40px;
}

#select-activity option{
    background-color: #141414;
}

::placeholder{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
}



/* team section */

.team-tittle h1{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.team-tittle p{
    margin-bottom: 40px;
}

.team-members{
    height:600px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
    padding: 20px;
}

.member1 ,
.member2 ,
.member3 ,
.member4 ,
.member5 ,
.member6 {
    width: 100%;
    height:100%;
    object-fit:cover;
    opacity:.8;
    position: relative;
}


.member1 h4,
.member2 h4,
.member3 h4,
.member4 h4,
.member5 h4,
.member6 h4{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 800; 
    text-align:left;
    position: absolute;
    top: 80%;
    left: 5%;
}

.member1 p,
.member2 p,
.member3 p,
.member4 p,
.member5 p,
.member6 p{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight:500; 
    text-align:left;
    position: absolute;
    top: 90%;
    left: 5%;
}


.member1{
    background: url(../images/trainer1.png);
    background-size: cover;
    background-position: center;
    border-radius: 18px;
}
.member2{
    background: url(../images/trainer2.png);    
    background-size: cover;
    background-position: center;
    border-radius: 18px;

}
.member3{
    background: url(../images/trainer3.png);    
    background-size: cover;
    background-position: center;
    border-radius: 18px;

}
.member4{
    background: url(../images/trainer4.png);   
    background-size: cover;
    background-position: center;
    border-radius: 18px;

}
.member5{
    background: url(../images/trainer5.png);   
    background-size: cover;
    background-position: center;
    border-radius: 18px;

}
.member6{
    background: url(../images/trainer6.png);    
    background-size: cover;
    background-position: center;
    border-radius: 18px;

}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* footer section */

.footer{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 80px;
}
.footer-container{
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-content1 h1{
    color: rgb(230, 83, 60);
    font-size: 78px;
    font-weight: 800;
    margin-bottom: 20px;
}
.footer-content1 p{
    text-align: left;
    text-wrap:balance;
}

.footer-content2 h3,
.footer-content3 h3{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-content3 p,
.footer-content2 p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 20px;
}

.copy-right{
    padding:30px 0px ;
}